:root.dark{
    --bg-color: #306d96;
    --calc-color: #1B262C;
    --calc-screen: #f3f8ff;
    --calc-text: #3282B8;
    --calc-button: #BBE1FA;
    --calc-heart: #f5799b;
    --hover-filter: saturate(80%) contrast(120%)
}
:root.light{
    --bg-color: #f5f9ff;
    --calc-color: #798bcc;
    --calc-screen: #fffcf8;
    --calc-text: #a7a1ff;
    --calc-button: #fff2f7;
    --calc-heart: #ff9ab9;
    --hover-filter: saturate(200%) brightness(95%)
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: var(--calc-color);
    border-radius: 15px;

    height: 650px;
    width: 430px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#display {
    font-size: 2rem;

    color: var(--calc-text);
    background-color: var(--calc-screen);
    border-radius: 15px;

    height: 100px;
    width: 400px;
    padding: 0 15px;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#calculator-pad {
    width: 400px;
    display: flex;
}

#clear-buttons {
    display: flex;
    gap: 20px;
}

#operators {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

button {
    color: var(--calc-text);
    background-color: var(--calc-button);

    cursor: pointer;

    border-style: none;
    border-radius: 30px;
    height: 80px;
    width: 80px;
    transition: filter 0.2s ease-in-out;
}

button:hover {
    filter: var(--hover-filter);
}

.long {
    height: 60px;
    width: 190px;
}
#theme-switch {
    background-color: var(--bg-color);
    color: var(--calc-color);

    font-size: 1rem;
}

span {
    color: var(--calc-heart);
}

* {
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}